<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClipAngel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ClipAngel.Properties.Settings>
            <setting name="HistoryDepthNumber" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GlobalHotkeyOpen" serializeAs="String">
                <value>Alt + V</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxClipSizeKB" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveCopiedClipToTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVisualWeightColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalHotkeyIncrementalPaste" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="SelectTopClipOnShow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClipListSimpleDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowAutoPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearFiltersOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonospacedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowApplicationIconColumn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowNativeTextFormatting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="GlobalHotkeyOpenFavorites" serializeAs="String">
                <value>Alt + B</value>
            </setting>
            <setting name="TextCompareApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalHotkeyCompareLastClips" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="FastWindowOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInTaskBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyTextInAnyWindowOnCTRLF3" serializeAs="String">
                <value>False</value>
            </setting>
        </ClipAngel.Properties.Settings>
    </userSettings>
</configuration>
