<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipAngel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClipAngel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ClipAngel.Properties.Settings>
            <setting name="HistoryDepthNumber" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HotkeyShow" serializeAs="String">
                <value>Alt + V</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxClipSizeKB" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ExampleStringList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>String1</string>
                        <string>String2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveCopiedClipToTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVisibleSizeColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyIncrementalPaste" serializeAs="String">
                <value>Control + Alt + V</value>
            </setting>
        </ClipAngel.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <ClipAngel.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value>0.98</value>
            </setting>
        </ClipAngel.Properties.Settings>
    </applicationSettings>
</configuration>