<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ClipAngel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <userSettings>
        <ClipAngel.Properties.Settings>
            <setting name="HistoryDepthNumber" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GlobalHotkeyOpenLast" serializeAs="String">
                <value>Alt + V</value>
            </setting>
            <setting name="Autostart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxClipSizeKB" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="WordWrap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveCopiedClipToTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVisualWeightColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalHotkeyIncrementalPaste" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ClipListSimpleDraw" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowAutoPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoCheckForUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClearFiltersOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MonospacedFont" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowApplicationIconColumn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNativeTextFormatting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 9pt</value>
            </setting>
            <setting name="GlobalHotkeyOpenFavorites" serializeAs="String">
                <value>Alt + B</value>
            </setting>
            <setting name="TextCompareApplication" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalHotkeyCompareLastClips" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="FastWindowOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInTaskBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyTextInAnyWindowOnCTRLF3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingsWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GlobalHotkeyOpenCurrent" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="AutoSelectMatch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseFormattingInDuplicateDetection" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GlobalHotkeyPasteText" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="HistoryDepthDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RestoreCaretPositionOnFocusReturn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreExclusiveFormatClipCapture" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="HtmlEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="RtfEditor" serializeAs="String">
                <value />
            </setting>
            <setting name="ClipTempFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchCaseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchWordsIndependently" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchWildcards" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySoundOnClipCapture" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseFile" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxCellsToCaptureFormattedText" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="MaxCellsToCaptureImage" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ShowSecondaryColumns" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SearchIgnoreBigTexts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadWindowTitles" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTipsOnStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MonitoringClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GlobalHotkeySwitchMonitoring" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="ReplaceDuplicates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPositionX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowPositionY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GlobalHotkeySimulateInput" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="EncryptDatabaseForCurrentUser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Max1CCodeSizeToColorize" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FilterListBySearchString" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSelectMatchedClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeleteNonFavoriteClipsOnExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SearchAllFields" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dataGridViewWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowDownloadThumbnail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfirmationBeforeDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DelimiterForTextJoin" serializeAs="String">
                <value>\n</value>
            </setting>
            <setting name="ReplaceEOFWithSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceTABWithSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NormalizeNonPrintable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NormalizeEOF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PasteIntoNewClip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaseConversionMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumberOfSpacesInTab" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="DontSendPaste" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SendChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="ClipSendDate" serializeAs="String">
                <value />
            </setting>
            <setting name="GlobalHotkeyForcedCapture" serializeAs="String">
                <value>No</value>
            </setting>
        </ClipAngel.Properties.Settings>
    </userSettings>
</configuration>
